/.idea
/.vscode
/.nova
/.zed
/.fleet
.DS_Store
Thumbs.db
/composer.lock
/package-lock.json
/npm-debug.log
/yarn-error.log
/.phpactor.json
/.phpunit.result.cache
/phpunit.cache
/auth.json
/.gitattributes
/.env
/.env.backup
/.env.production
/.env.example
/Homestead.json
/Homestead.yaml
/storage/*.key
/storage/pail
/public/storage
/bootstrap/cache
/vendor
/node_modules
/public/build
/public/hot
/docker/db/data
/docker/redis/data/dump.rdb
/docker/myconf
/web/apache-virtualhost.conf
/web/server.sh
*.log
*.bak
*.swp
/phpunit.cache
